<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doctor Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='/general_ward.css') }}">
</head>
<body>
    <header>
        <div class="header-strip">
         
        </div>
    </header>
 
    <div class="container">
        <aside>
            <div class="sidebar-content">
                <img src="{{ url_for('static', filename='brandLogo_nanavati.svg') }}" alt="Nanavati Max Logo" class="logo">
                <h2>Patient Boarding</h2>
                <hr>
                <ul>
                    <li><a href="#">Add Patient Details</a></li>
                    <li><a href="#proceed">Bed Availibility</a><li>
                  
                </ul>
            </div>
        </aside>
        

        <div class="dashboard-section">
            <h3>Add patient details</h3>
             <form id="bed-allocation-form" method="POST" action="/add_patient"> 
            <div class="form-group">
                <label for="patient-name">Patient Name:</label>
                <input type="text" id="patient-name" name="patient_name" required>
            </div>
            <div class="form-group">
                <label for="age">Age:</label>
                <input type="number" id="age" name="age" required>
            </div>
            <div class="form-group">
                <label for="sex">Sex:</label>
                <select id="sex" name="sex" required>
                    <option value="">Select</option>
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                    <option value="Other">Other</option>
                </select>
            </div>
            <div class="form-group">
                <label for="problems">Problems:</label>
                <select id="problems" name="problems" required>
                    <option value="">Select</option>
                    <option value="Fracture">Fracture</option>
                    <option value="Gynaecologist">Gynaecologist</option>
                    <option value="ENT">ENT</option>
                    <option value="Viral Infection">Viral Infection</option>
                    <option value="Orthopedic">Orthopedic</option>
                </select>
            </div>
            <div class="form-group">
                <label for="reason">Reason for Admission:</label>
                <textarea id="reason" name="reason" required></textarea>
            </div>
            <div class="form-group">
                <label for="consulting-doctor">Consulting Doctor:</label>
                <input type="text" id="consulting-doctor" name="consulting_doctor" required>
            </div>
            <div class="form-group">
                <label for="emergency-contact">Emergency Contact:</label>
                <input type="text" id="emergency-contact" name="emergency_contact">
            </div>
            <div class="form-group">
                <label for="relationship-with-patient">Relationship with Patient:</label>
                <input type="text" id="relationship-with-patient" name="relationship_with_patient">
            </div>
            <div class="form-group">
                <label for="additional-notes">Additional Notes:</label>
                <textarea id="additional-notes" name="additional_notes"></textarea>
            </div>

            <h4>Select Bed</h4>

    <div class="container1">

        <div class="ward-card">
            <input type="radio" id="wardA1" name="ward_id" value="A1">
            <label for="wardA1">A1 General Ward<br><span>{{ward_bed_counts_dict[1]}} Beds Available</span></label>
        </div>
        <div class="ward-card">
            <input type="radio" id="wardB1" name="ward_id" value="B1">
            <label for="wardB1">B1 General Ward<br><span>{{ward_bed_counts_dict[4]}} Beds Available</span></label>
        </div>
        <div class="ward-card">
            <input type="radio" id="wardC1" name="ward_id" value="C1">
            <label for="wardC1">C1 ICU<br><span>{{ward_bed_counts_dict[7]}} Beds Available</span></label>
        </div>
        <div class="ward-card">
            <input type="radio" id="wardD1" name="ward_id" value="D1">
            <label for="wardD1">D1 Operation Theatre<br><span>{{ward_bed_counts_dict[10]}} Bed Available</span></label>
        </div>
        
        <div class="ward-card">
            <input type="radio" id="wardA2" name="ward_id" value="A2">
            <label for="wardA2">A2 General Ward<br><span>{{ward_bed_counts_dict[2]}} Beds Available</span></label>
        </div>
        <div class="ward-card">
            <input type="radio" id="wardB2" name="ward_id" value="B2">
            <label for="wardB2">B2 General Ward<br><span>{{ward_bed_counts_dict[5]}} Beds Available</span></label>
        </div>
        <div class="ward-card">
            <input type="radio" id="wardC2" name="ward_id" value="C2">
            <label for="wardC2">C2 ICU<br><span>{{ward_bed_counts_dict[8]}} Beds Available</span></label>
        </div>
        <div class="ward-card">
            <input type="radio" id="wardD2" name="ward_id" value="D2">
            <label for="wardD2">D2 Operation Theatre<br><span>{{ward_bed_counts_dict[11]}} Bed Available</span></label>
        </div>
        
        <div class="ward-card">
            <input type="radio" id="wardA3" name="ward_id" value="A3">
            <label for="wardA3">A3 General Ward<br><span>{{ward_bed_counts_dict[3]}} Beds Available</span></label>
        </div>
        <div class="ward-card">
            <input type="radio" id="wardB3" name="ward_id" value="B3">
            <label for="wardB3">B3 General Ward<br><span>{{ward_bed_counts_dict[6]}} Beds Available</span></label>
        </div>
        <div class="ward-card">
            <input type="radio" id="wardC3" name="ward_id" value="C3">
            <label for="wardC3">C3 ICU<br><span>{{ward_bed_counts_dict[9]}} Beds Available</span></label>
        </div>
        <div class="ward-card">
            <input type="radio" id="wardD3" name="ward_id" value="D3">
            <label for="wardD3">D3 Operation Theatre<br><span>{{ward_bed_counts_dict[12]}} Bed Available</span></label>
        </div>
    </div>
             
    <div class="selected-ward">
        <h3>Selected Ward:</h3>
        <div id="selectedWardDisplay"></div>
    </div>

            <button type="submit" id="submit-button" class="submit-btn"><h3>Submit</h3></button>
        </form>

        </div>
    </div>

  <script>
    const radios = document.querySelectorAll('input[name="ward"]');
    const selectedWardDisplay = document.getElementById('selectedWardDisplay');

    radios.forEach(radio => {
        radio.addEventListener('change', () => {
            selectedWardDisplay.textContent = radio.nextElementSibling.innerText;
        });
    });

  </script>

</body>
</html>
