<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Management Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='/management.css') }}">
</head>
<body>
    <!-- Header Section -->
    <header>
        <div class="header-strip"></div>
    </header>

    <!-- Main Content -->
    <div class="container">
        <!-- Sidebar with Logo and Navigation -->
        <aside>
            <div class="sidebar-content">
                <img src="{{ url_for('static', filename='brandLogo_nanavati.svg') }}" alt="Nanavati Max Logo" class="logo">
                <h2>Management Dashboard</h2>
                <hr>
                <ul>
                    <li><a href="/add_doctor">Add Doctors</a></li>
                    <li><a href="#">Appointments</a></li>
                    <li><a href="#">Staff Availability</a></li>
                </ul>
            </div>
        </aside>

        <!-- Main Dashboard Content -->
        <main>
            <!-- Bed Allocation -->
            <div class="dashboard-section">
                <h3>Bed Allocation</h3>
                <div class="button-group">
                    <form method="POST" action="/patient_detail">
                    <button class="btn">Bed Allocation for new patient </button>
                   </form>
                </div>
            </div>

            <!-- Emergency Bed Allocation -->
            <div class="dashboard-section">
                <h3>Shift patient in another ward/ICU/Operation Theatre</h3>
                <div class="button-group">
                    <button class="btn">Transfer</button>
                </div>
            </div>

            <!-- Queue Status -->
            <div class="dashboard-section">
                <h3>Queue Status for Upcoming Treatments</h3>
                <div class="button-group">
                    <button class="btn">View</button>
                </div>
            </div>

            <div class="dashboard-section">
               <h3>View/Discharge Current and Past Patient Record of Nanavati Hosptial</h3>
               <form method="POST" action="/view_patients">
               <button class="view-btn">View Patients</button>
               </form>
            </div>
        </main>
        
    </div>
</body>
</html>
